# blacklist all by default
*

# whitelist impt files
!.gitignore
!.github
!index.html

# whitelist all in docs/public folder
!/public
!/public/**
!/docs
!/docs/**

# whitelist certain folders
!/vault
!/vault/Knowledgebase & Notes
!/vault/Knowledgebase & Notes/**

# blacklist other misc folders
.space
