# blacklist all by default
*

# whitelist impt files
!.gitignore

# whitelist all in public folder
!/public
!/public/**

# whitelist certain folders
!/vault
!/vault/Knowledgebase & Notes
!/vault/Knowledgebase & Notes/**

# blacklist other misc folders
.space
